@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Passion+One&family=Permanent+Marker&family=Rubik+Vinyl&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Rubik Vinyl', cursive; */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courgette', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input, a, button {
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0;
}